import pygame
from pygame.locals import *

# Global variables
import core.value.variables as core_vars

from packages.display.layer import *
from packages.display.base import Display
from packages.display.game import GameDisplay
from packages.display.grid import Grid
from packages.value.constants import BLACK
from packages.value.random import Random

# VARS (scoped to this display adn its layers)
class GameVars():
  is_game_over = False

# DISPLAY
class {{ class_display }}(GameDisplay):
  def __init__(self, name):
    super().__init__(name, BLACK)

    self.add_layer({{ class_layer }}())

# LAYERS
class {{ class_layer }}(Layer):
  def __init__(self):
    super().__init__()

  def setup(self):
    self.add_item({{ class_item }}("sample", 0, 0))
    pass

# ITEMS
class {{ class_item }}(LayerItem):
  def __init__(self, image_key, x, y):
    super().__init__(image_key, (x, y))

class Free{{ class_item }}(FreeLayerItem):
  def __init__(self, image_key, x, y):
    super().__init__(image_key, (x, y))
